{% extends 'base/base.html' %}
{% load static %} 

{% block title %}Admin Login{% endblock title %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    {% csrf_token %}
    <div class="flex w-full max-w-md shadow-lg overflow-hidden">
        <!-- Left: Login Form -->
        <div class="w-1/2 bg-white p-12 flex flex-col justify-center">
            <form action="{% url 'login_admin' %}" method="post" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="username" class="block text-xs text-gray-600 mb-1">Username</label>
                <input type="text" id="username" name="username" value="{{ username|default:'' }}" required
                    class="w-full px-2 py-1 border rounded text-sm focus:outline-none focus:ring-2 focus:ring-blue-600 
                    {% if error_type == 'username' %}border-red-500{% endif %}">
                {% if error_type == 'username' %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endif %}
            </div>

            <div>
                <label for="password" class="block text-xs text-gray-600 mb-1">Password</label>
                <input type="password" id="password" name="password" required
                    class="w-full px-2 py-1 border rounded text-sm focus:outline-none focus:ring-2 focus:ring-blue-600
                    {% if error_type == 'password' %}border-red-500{% endif %}">
                {% if error_type == 'password' %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                {% endif %}
            </div>

            <button type="submit" 
                class="w-full py-1 bg-blue-700 text-white rounded text-sm hover:bg-blue-800 transition">
                Login
            </button>
        </form>
        </div>
        <!-- Right: Brand Panel -->
        <div class="w-1/2 bg-blue-700 flex">
            <img src="{{ MEDIA_URL }}NOVA DOORS HOTEL.png" class="my-auto mx-auto" alt="Logo"/> 
        </div>
    </div>
</div>
{% endblock content %}